@use "sass:color";

@use '../../../assets/scss/variables' as variables;
@use '../../../assets/scss/mixins' as *;

.copyright {
  display: none;

  @include breakpoint-sm {
    display: block;
  }
  color: color.adjust(variables.$color-gray, $lightness: 18%, $space: hsl);
  font-size: variables.$typographic-small-font-size;
}
