@use '../../../assets/scss/variables' as variables;
@use '../../../assets/scss/mixins' as *;

.copyright {
  display: none;

  @include breakpoint-sm {
    display: block;
  }
  color: lighten(variables.$color-gray, 18%);
  font-size: variables.$typographic-small-font-size;
}
