@use '../../../../assets/scss/variables' as variables;
@use '../../../../assets/scss/mixins' as mixins;

.meta {
  @include mixins.margin-bottom(1);

  &__emoji {
    vertical-align: middle;
    svg {
      margin-left: 0;
      color: #666;
    }
  }

  &__date {
    display: flex;
    padding: 0;
    font-size: variables.$typographic-small-font-size;
    font-weight: 600;
    @include mixins.margin-bottom(0.2);

    li {
      display: flex;
      align-items: center;
      padding: 0;
      margin-right: 15px;
      list-style: none;
    }
  }

  &__category {
    line-height: 1rem;
    @include mixins.margin-bottom(0.1);

    &-link {
      font-size: variables.$typographic-small-font-size;
      color: var(--color-base);
      text-transform: uppercase;
      display: inline-block;

      &:hover,
      &:focus {
        color: variables.$color-primary;
      }
    }
  }

  &__tags {
    line-height: 1em;

    &-item {
      display: inline-block;
      border-radius: 0.15rem;
      font-size: 0.8rem;
      line-height: 1em;
      font-weight: normal;
      padding: 0;
      margin: 0 0.2rem 0.2rem 0;

      &-link {
        color: var(--color-gray);

        &:hover {
          color: variables.$color-primary;
        }
      }

      &:after {
        content: ',';
      }

      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }

  @include mixins.breakpoint-sm {
    @include mixins.margin-bottom(1.5);
  }
}
