@use '../../assets/scss/variables' as variables;
@use '../../assets/scss/mixins' as *;

.post {
  padding-top: 50px;
  max-width: variables.$layout-max-width;

  &__inner {
    padding: 25px 20px;
    max-width: 780px;
    margin: 0 auto;
  }

  &__footer {
    &-category {
      a {
        color: var(--color-base);

        &:hover {
          color: variables.$color-primary;
        }
      }
    }
  }

  &__home-button {
    display: block;
    max-width: 90px;
    height: variables.$button-height;
    padding: 0 12px;
    line-height: variables.$button-height;
    text-align: center;
    color: var(--color-base);
    border: 1px solid var(--color-gray-border);
    border-radius: variables.$button-border-radius;
    font-size: variables.$typographic-base-font-size;
    font-weight: normal;
    @include margin-top(1);

    &:hover,
    &:focus {
      color: variables.$color-primary;
    }
  }

  @include breakpoint-sm {
    padding-top: 0;
    padding-left: 250px;

    &__footer {
      padding: 20px 0 40px 0;
    }

    &__container {
      overflow: auto;
    }
  }

  @include breakpoint-md {
    padding-left: 280px;

    &__footer {
      padding: 40px 0;
    }

    &__comments {
      padding: 40px 0; 
    }
  }
}
