@use '../../../assets/scss/variables' as variables;
@use '../../../assets/scss/mixins' as *;

.search {
  * {
    text-align: center;
  }
  &__select {
    @include margin-bottom(1);

    select {
      margin: 0 4px;
    }

    &__link {
      display: block;
      width: 125px;
      margin: 0 auto;
      padding: 10px 20px;
      color: variables.$color-secondary;
      border: solid 1px variables.$color-secondary;
    }
  }
}
