@use '../../../assets/scss/variables' as variables;
@use '../../../assets/scss/mixins' as mixins;

.menu {
  margin-left: auto;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      display: inline-block;

      &-link {
        display: inline-block;
        font-size: variables.$typographic-base-font-size;
        color: var(--color-base);
        font-weight: normal;
        padding: 0 4px;
        border-bottom: 1px solid transparent;

        span {
          display: none;
        }

        svg {
          vertical-align: text-top;
          width: 1.2em;
          height: 1.2em;
        }

        &:hover,
        &:focus {
          color: var(--color-base);
        }
        &:hover {
          border-bottom: 1px solid variables.$color-secondary;
          svg {
            color: variables.$color-secondary;
          }
        }

        &--active {
          color: var(--color-base);

          svg {
            color: variables.$color-secondary;
          }

          &:hover,
          &:focus {
            cursor: inherit;
            border-bottom: solid 1px transparent;
          }
        }
      }
    }
  }

  @include mixins.breakpoint-sm {
    @include mixins.margin-bottom(1.4);

    &__list {
      &-item {
        display: block;
        padding: 0;
        margin: 10px 0;
        width: initial;
        height: initial;
        overflow: initial;

        &-link {
          padding: 0;

          svg {
            padding-right: 4px;
          }
        }

        span {
          display: inline-block;
        }
      }
    }
  }
}
